<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="maxT" value="80" />
    <add key="minT" value="10" />
    <add key="DivT" value="5" />
    <add key="maxM" value="80" />
    <add key="minM" value="10" />
    <add key="DivM" value="5" />
    <add key="maxN" value="80" />
    <add key="minN" value="10" />
    <add key="DivN" value="5" />
    <add key="freq_chat" value="10" />
    <add key="freq_data" value="5" />
    <add key="retry" value="5" />
    <add key="play" value="1" />
    <add key="host" value="http://115.29.137.121:8080" />
    <add key="i_updateDate" value="/api/datacube/upload" />
    <add key="i_updateUser" value="/user/update" />
    <add key="i_insertUser" value="/user/register" />
    <add key="i_deleteUser" value="/user/delete" />
    <add key="i_login" value="/user/login" />
    <add key="com" value="com0" />
    <add key="port" value="9600" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>